* {
    padding:0;
    margin:0;
    box-sizing: border-box;

    font-family: 'Noto Sans SC', sans-serif;

}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: #CECECE;
}

::-webkit-scrollbar-thumb {
    background: #09777D;
}

::-webkit-scrollbar-button {

}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

header {
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    position:sticky;
    top:0;
    z-index: 5;
    background-color: white;
    box-shadow: 1px 5px 18px rgb(192, 192, 192);
    
    div.logo{
        display:flex;
        align-items: center;
        flex:5 1 400px;
        margin-left:2rem;
        img {
            width:6vw;
            height:6vw;
        }
    }

    nav {
        flex:2 1 400px;
        ul {
            display:flex;
            list-style-type: none;
            justify-content: space-around;
            li {
                a {
                    color: #09777D;
                    text-decoration: none;
                    font-size: 1.35rem;
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    header {
        div.logo {
            margin-left: 0.5rem;
            img {
                width: 15vw;
                height:15vw;
            }
        }

        nav ul{
            margin-bottom: 1rem;
        }
    }

}

main {
    section.backImg {
        min-height: 90vh;
        width: 100%;
        background-image: url("../res/Pictures/pexels-photo-416676.jpeg");
        background-size: cover;
        background-position: center;
        position:relative;
        z-index:0;

        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        h3 {
            font-size:3.5rem;
            color:rgb(255, 255, 255);
            margin: 2rem 0rem;
        }

        button.start {
            background-color:#33DEE1;
            padding: 1.75rem 2.5rem;
            font-size:1.5rem;
            margin-top: 1rem;
            border:none;
            border-radius:1rem;

            a {
                
                text-decoration: none;
                color:white
            }

        }

        div.filter {
            width:100%;
            min-height: 90vh;
            background-color: rgba(0,0,0,0.2);
            position:absolute;
            top:0;
            z-index:-1;
        }
    }

    section.second {
        display:flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        min-height: 105vh;

        h2 {
            font-size: 2rem;
            margin:2rem 1rem
        }

        section.cards {
            min-height:80vh;
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            width:80%;
        }

        div.card {
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            padding:1rem;
            flex:1 1 300px;

            div.image-container {
                overflow: hidden;
                width:15vw;
                height:15vw;
                border-radius: 50%;

                img {
                width:15vw;
                height:15vw; 
                transition: all 0.2s;
                }

                img:hover {
                    transform:scale(1.2);
                }
            }
            
            

            h4 {
                font-size: 2rem;
                margin:1rem 0rem;
            }

            p {
                font-size: 1.25rem;
            }

            a {
                margin:1rem 0rem;
                font-size: 2rem;
                text-decoration: none;
                padding:1rem 1.5rem;
                background-color: #09777D;
                color:white;
                border-radius: 1rem;
            }
        }
    }
}

@media screen and (max-width:1000px) {
    main {
        section.second {
            section.cards {
                div.card {
                    img {
                        width:40vw;
                        height:40vw;
            
                    }
                }
            }
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 40vh;
    justify-content: space-between;
    background-color: #CECECE;
    
    div.logo {
        display:flex;
        align-items: center;
        margin-top: 3rem;
        img {
            width: 6vw;
            height: 6vw;
        }
    }

    nav {
        width:30%;
        ul{
            display: flex;
            flex-basis: 100px;
            list-style-type: none;
            width:100%;
            justify-content: space-around;
            flex-wrap: wrap;
            li{
                
                a{
                    color:black;
                    text-decoration: none;
                    font-size: 1.35rem;
                }
            }
        }
    }

    section.links {
        a{
            margin:3rem 1rem;
            img{
                width:2vw;
                height:2vw;
            }
        }
    }
}