* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

i {
  pointer-events: none;
}

body {
  background: -webkit-gradient(linear, left top, right top, from(#e66465), to(#4a9eff));
  background: linear-gradient(90deg, #e66465, #4a9eff);
}

header {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  color: white;
  font-size: 3rem;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

form input,
form button {
  border: none;
  padding: 0.25rem;
  font-size: 1.75rem;
  margin: 0.1rem;
  border-radius: 6px;
  border: 1px solid #dbdbdb00;
  text-align: center;
}

form input[type="number"] {
  width: 50 px;
  text-align: center;
}

form input::-webkit-outer-spin-button,
form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form input[type=number] {
  -moz-appearance: textfield;
}

form button {
  cursor: pointer;
  background-color: #ffffff55;
  color: white;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

form button:hover {
  background-color: #ffffffa0;
  color: #ffffff9f;
}

div.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.sort button {
  cursor: pointer;
  background-color: #ffffff55;
  color: white;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border: none;
  border-radius: 6px;
  padding: 0.25rem;
}

div.sort button:hover {
  background-color: #ffffffa0;
  color: #ffffff9f;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section div.todo {
  width: 40vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.2rem 0rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

section div.todo p {
  background-color: white;
  color: black;
  padding: 0.25rem 0.5rem;
}

section div.todo p.todo-text {
  width: 50%;
}

section div.todo p.todo-time {
  width: 20%;
  text-align: center;
}

section div.todo button {
  padding: 0.25 0.5rem;
  font-size: 1.58rem;
  border: none;
  cursor: pointer;
  color: white;
  margin: 0.2rem 0.5rem;
}

section div.todo button.complete {
  background-color: rgba(74, 158, 255, 0);
}

section div.todo button.trash {
  background-color: #ffffff00;
}

.done {
  opacity: 0.5;
  text-decoration: line-through;
  text-decoration-thickness: 0.2rem;
}

@-webkit-keyframes scaleUp {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleUp {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes scaleDown {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes scaleDown {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
/*# sourceMappingURL=style.css.map */